:root {
  --height_of_top: 5vh;
}

.gradient-container {
  background: linear-gradient(
    45deg,
    #00b7ff,
    #00b7ff 25%,
    #0033ff 50%,
    #00b7ff 75%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 7s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.animated-button {
  padding: 20px 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background-color: #00b7ff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 183, 255, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite, colorPulse 6s infinite;
}

.animated-button:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 183, 255, 0.8);
}

.animated-button:active {
  transform: translateY(0px) scale(0.95);
  box-shadow: 0 5px 20px rgba(0, 183, 255, 0.5);
}

.animated-button span {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
  animation: textWave 2s ease-in-out infinite;
}

.animated-button:hover span {
  transform: scale(1.1);
}

.animated-button::before,
.animated-button::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc, #00b7ff);
  z-index: 0;
  transition: opacity 0.4s ease;
  animation: rotateGradient 4s linear infinite, opacityPulse 5s infinite;
}

.upload_button {
  position: fixed;
  bottom: 1%;
  left: 41%;
}

.upload_button_index {
  position: fixed;
  bottom: 0%;
  left: 0%;
}

.animated-button::after {
  z-index: -1;
  filter: blur(30px);
  opacity: 0.7;
}

.animated-button:hover::before {
  opacity: 1;
}

.top {
  border: 1px solid black;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 500;
  padding: 1.5rem;
  position: sticky;
  width: 100%;
  top: 0.01px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
.all_container {
  display: flex;
  justify-content: space-around;
  height: calc(100% - var(--height_of_top));
}

.right,
.left {
  width: 50%;
  height: 92%;
}

.receive_button {
  position: fixed;
  bottom: 0%;
  right: 0%;
  opacity: 1;
  z-index: 20;
}

.edit_button1 {
  position: fixed;
  left: 0%;
  bottom: 1%;
  z-index: 100;
}
.edit_button2 {
  display: none;
}

.send_doc {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.modal_drag_drop {
  z-index: 50;
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  background: rgb(238, 235, 235);
  height: 70%;
  width: 50%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.outer {
  border: 3px dotted #007bff;
  margin: 40px;
  border-radius: 20px;
  height: 80%;
}

.modal_cross {
  cursor: pointer;
  position: relative;
  height: 50px;
  aspect-ratio: 1/1;
  left: 95%;
  border-top-right-radius: 20px;
}

.inner {
  margin: 40px;
  border: 3px dotted #00b7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  height: 83%;
  color: 007bff;
  font-weight: bold;
}

.or_text {
  align-self: center;
}

.inner button {
  align-self: center;
  margin-bottom: 4%;
}

.top_icon {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  align-self: center;
  margin-top: 4%;
}

.drag_drop_icon {
  height: 200px;
  aspect-ratio: 1/1;
  align-self: center;
}

.drag_text {
  align-self: center;
}

#document_button1 {
  display: block;
  position: absolute;
  bottom: 0%;
  left: 43%;
  width: 15%;
}

#document_button2 {
  display: none;
}

.small_upload_phone {
  display: none;
}

@media (max-width: 780px) {
  .blue-gradient-button span {
    font-size: 1.2rem;
  }
  .blue-gradient-button2 span {
    font-size: 1rem;
  }
  .small_upload_pc {
    display: none;
  }
  .small_upload_phone {
    display: block;
    position: fixed;
    top: 91%;
    left: 25%;
    width: 40%;
  }

  .top {
    font-size: 1.5rem;
  }

  .all_container {
    flex-direction: column;
    height: calc(2 * (100% - var(--height_of_top)));
    border: 2px solid black;
  }
  #document_button1 {
    display: none;
  }
  #document_button2 {
    background: none;
    display: block;
    position: relative;
    bottom: 0%;
    left: 0%;
  }
  .right,
  .left {
    width: 100%;
  }
  .left {
    height: 50%;
  }

  .upload_button {
    position: fixed;
    bottom: 0%;
    left: auto;
  }

  .receive_button {
    z-index: -1;
    opacity: 0;
  }

  .up_arrow,
  .down_arrow {
    height: 60px;
    aspect-ratio: 1/1;
  }

  .bg_transparent {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    animation: none;
  }

  button:focus,
  button:active {
    border: none;
    outline: none;
  }

  .upload_file {
    height: 80px;
    aspect-ratio: 1/1;
  }

  /* modal code */
  .modal_drag_drop {
    position: fixed;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 90%;
  }
  .modal_cross {
    cursor: pointer;
    position: relative;
    height: 50px;
    aspect-ratio: 1/1;
    left: 86%;
    border-top-right-radius: 20px;
  }

  .outer {
    border: 3px dotted #007bff;
    margin: 5px;
    border-radius: 20px;
    height: 80%;
  }

  .inner {
    margin: 5px;
  }
  .browse_files {
    position: relative;
    top: 20.35%;
    z-index: 200;
    left: 2%;
  }

  .edit_button2 {
    display: block;
    margin-right: 71%;
  }
  .edit_button1 {
    display: none;
  }
  .save_change_button {
    height: 20px;
    aspect-ratio: 1/1;
  }
  .upload_button_index {
    position: fixed;
    bottom: 0%;
    right: 0%;
    left: auto;
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(15%);
  }
}

/* MODAL CODE */

.pass_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
}

.pass_close {
  position: relative;
  top: 1%;
  left: 95%;
  cursor: pointer;
  font-size: 35px;
}
.modal-content p {
  font-weight: bold;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 40%; /* Default width for larger screens */
  max-width: 400px; /* Maximum width for larger screens */
  position: relative;
  top: 40%;
  margin: 0 auto;
}

/* Close Button */

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Button Styles */
.modal-buttons {
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons a {
  text-decoration: none; /* Remove underline from link */
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.btn-yes {
  background-color: #4caf50; /* Green */
}

.btn-no {
  background-color: #f44336; /* Red */
  margin-left: 50%;
}

.modal-buttons button {
  background: #00b7ff;
}

/* input code */

.toggling_password {
  width: 100%;
  padding: 12px;
  border: 2px solid #173eee;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.toggling_password:focus {
  border-color: #4a90e2;
}

.toggling_password::placeholder {
  color: #aaa;
}

.toggle-password {
  position: absolute;
  right: 30px;
  top: 68.5%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
}

.toggle-password:hover {
  color: #4a90e2;
}

@media screen and (max-width: 600px) {
  .container {
    width: 1440px;
  }
  .modal-content {
    width: 80%;
  }
  .pass_close {
    font-size: 20px;
  }
  .modal-buttons {
    flex-direction: column;
    align-items: flex-end;
    display: block;
    margin-top: 0;
  }
  .modal-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
  .modal-buttons button:last-child {
    margin-bottom: 0;
  }
  .toggle-password {
    position: absolute;
    right: 24px;
    top: 73%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
  }
}

.full_content_form {
  width: 100%;
  height: 200px;
}

.back_button_image_full_content {
  display: block;
  height: 55px;
  aspect-ratio: 1/1;
  z-index: 10;
  right: 3%;
  top: 91%;
  position: fixed;
}

.credential_button {
  background: rgb(46, 157, 248);
  color: white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.blue-gradient-button {
  padding: 6px 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  background: linear-gradient(90deg, #007bff, #00b7ff, #00e5ff, #007bff);
  border: 2px solid rgba(0, 183, 255, 0.7); /* Added border */
  cursor: pointer;
  background-size: 400%;
  background-position: 0%;
  border-radius: 10px;
}
.blue-gradient-button2 {
  padding: 6px 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  background: linear-gradient(90deg, #007bff, #00b7ff, #00e5ff, #007bff);
  border: 2px solid rgba(0, 183, 255, 0.7); /* Added border */
  cursor: pointer;
  background-size: 400%;
  background-position: 0%;
  border-radius: 10px;
}
/*login form index page*/
.login-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.warning-box {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: none;
}

.login-modal-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-modal-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form-group input[type="text"],
.login-form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  display: none;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #007bff;
}

@media (max-width: 600px) {
  .login-modal-container {
    padding: 15px;
    max-width: 90%;
  }
  .image_button {
    border: none;
    border: transparent;
    border-radius: 20px;
    background: white;
  }
  .image_button span {
    background: white;
    border: transparent;
    border: none;
    height: 9%;
    aspect-ratio: 1/1;
  }

  .image_button2 {
    border: none;
    border: transparent;
    border-radius: 20px;
    position: absolute;
    left: 40%;
    bottom: 0%;
    background: none;
  }
}

.tick {
  position: relative;
  left: 92%;
}

.forgot_password {
  background: #007bff;
  color: white;
}

.otp-container {
  background-color: rgb(252, 250, 250);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgb(189, 189, 189);
  transition: all 0.8s ease;
}

.otp-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.otp-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp-input input {
  width: 50px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #007bff;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.otp-input input:focus {
  border-color: #339cff;
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
  transform: scale(1.05);
}

@media (max-width: 780px) {
  .otp-input input {
    width: 35px;
    height: 45px;
    font-size: 23px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.change_password_submit_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.change_password_submit_button:hover {
  background-color: #0056b3;
}

#wrong_password_forgot_password {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
