<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSHARE</title>
    <link rel="icon" type="image/x-icon" href="../static/images/share.png" />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body class  = "gradient-container">
    
      <form class="full_content_form" method="POST" action="{{url_for('edit_content',content_id=content_data.id)}}">
        <textarea id="summernote2" name="summernote2"></textarea>
        <button type="submit" class="submit edit_button1 animated-button"><span>SAVE CHANGES</span></button>
        <button type="submit" class="submit edit_button2"><span > <img src="../static/images/save.png" class ="save_change_button" ></span></button>
      </form>
    </div>
      <a href="{{url_for('user_small_upload', content_id= content_data.id)}}" class = "small_upload_pc">
            <button class="submit animated-button upload_button"><span>UPLOAD</span></button>
      </a>

      <a href="{{url_for('small_upload', content_id= content_data.id)}}" class = "small_upload_phone">
            <button class="submit  image_button2"><span><img src="../static/images/upload_up_arrow.png" class ="up_arrow"></span></button>
      </a>

     
      <a href="{{ url_for('back_button') }} ">
        <img src="../static/images/back_button.png" class="back_button_image_full_content"/>
      </a>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <script>
      $(document).ready(function () {
        var content = `{{content_data.content |safe}}`;
        $("#summernote2").summernote("code", content);
      });
      let fixed_height = document.querySelector('body').getBoundingClientRect().height -120;
      document.addEventListener("DOMContentLoaded", function () {
        var summernote2 = document.getElementById("summernote2");
        if (summernote2) {
          $(summernote2).summernote({
            placeholder: "RECEIVE...",
            minHeight: fixed_height,
            maxHeight: fixed_height,
          });
        }
      });


    </script>
  </body>
</html>

